absl-py==2.1.0
addict==2.4.0
attrs==24.2.0
backcall==0.2.0
cached-property
certifi==2026.5.20
cffi
charset-normalizer==3.4.7
click==8.1.8
comm==0.1.4
ConfigArgParse==1.7.5
cupy-cuda101==9.6.0
cycler==0.11.0
dash==2.15.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
einops==0.6.1
fastjsonschema==2.21.2
fastrlock==0.8.3
Flask==2.2.5
fonttools==4.38.0
h5py
idna==3.10
importlib-metadata==6.7.0
importlib-resources==5.12.0
iopath==0.1.10
ipython==7.34.0
ipywidgets==8.1.8
itsdangerous==2.1.2
jedi==0.19.2
Jinja2==3.1.6
joblib==1.3.2
jsonschema==4.17.3
jupyter_core==4.12.0
jupyterlab_widgets==3.0.16
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.5.3
matplotlib-inline==0.1.6
nbformat==5.7.0
nest-asyncio==1.6.0
nibabel==4.0.2
numpy
open3d==0.17.0
packaging==24.0
pandas==1.3.5
parso==0.8.7
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
plotly==5.18.0
portalocker==2.7.0
prompt_toolkit==3.0.48
protobuf==3.20.1
ptyprocess==0.7.0
pycparser
Pygments==2.17.2
pynvml==11.5.3
pyparsing==3.1.4
pyquaternion==0.9.9
pyrsistent==0.19.3
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML
requests==2.31.0
retrying==1.4.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
SharedArray
SimpleITK==2.5.5
siren-pytorch==0.1.7
six
surface-distance==0.1
tabulate==0.9.0
tenacity==8.2.3
tensorboardX
termcolor==2.3.0
threadpoolctl==3.1.0
torch==1.1.0
torchvision
tqdm==4.68.1
traitlets==5.9.0
typing_extensions
urllib3==2.0.7
wcwidth==0.2.14
Werkzeug==2.2.3
widgetsnbextension==4.0.15
yacs==0.1.8
zipp==3.15.0
